*{
    margin: 0;
    padding: 0;
}
body {
    background: aqua;
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 20%;
    background-color:azure;
}

.sign-up {
    background-color: azure;
    border: 2px soild black;
    margin-top: 20%;
    margin-bottom: 40%;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    height: 70%;
    
    
}
